
<!doctype html>
<html>
    <head>
        <title>Welcome to the search page</title>
        <meta charset="utf-8">
    </head>
<body>
<p>You searched: </p>
    <% if (german !== undefined) { %>
        <div><%= german %></div>
	<div><%= danish %></div>
	<div><%= english %></div>
    <% } else { %>
        <div>Your word is not in the database</div>
    <% } %>
    <div><a href="../">Search another word</a></div>
</body>
</html>