
<!doctype html>
<html>
    <head>
        <title>Welcome to the search page</title>
        <meta charset="utf-8">
    </head>
<body>

    <% if (german !== undefined) { %>
        <p>You searched: <p>
        <div>german: <%= german %></div>
	<div>danish: <%= danish %></div>
	<div>english: <%= english %></div>

	<% } else { %>
	
        <div>The word you searched is not in the database or is not a GERMAN word!</div>
    <% } %>
    <div><a href="../">Search another word</a></div>
</body>
</html>
